<!DOCTYPE html>
<html lang="en">

<!--Avoiding Duplicated code -->

    <%= erb :headinclude, :locals => {:title => "Bookmarks - Admin"} %>

<body>
    <!-- Navbar -->
    
    <%= erb :header %>
    
    <!-- modal-section -->

    <!-- dashboard section -->
    <section class="dashboard-section container py-5">
        <div class="saved-bookmarks">
            <div class="mb-3">
                <h4>Audit Log</h4>
            </div>
            <div class="d-flex align-items-end mb-3 flex-wrap">
                <div class="mb-3 mb-md-0 mr-3">
                    <label for="">From Date</label>
                    <input type="date" class="form-control" />
                </div>
                <div class="mb-3 mb-md-0 mr-3">
                    <label for="">To Date</label>
                    <input type="date" class="form-control" />
                </div>
                <div class="mb-3 mb-md-0">
                    <select name="" id="" class="form-control">
						<option value="">Sort By</option>
						<option value="">Ascending</option>
						<option value="">Descending</option>
					</select>
                </div>
                <div class="ml-md-auto">
                    <button class="btn btn-info">
						EXPORT TO EXCEL
					</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bookmark">
                    <thead>
                        <tr>
                            <th> User ID </th>
                            <th>Action</th>
                            <th>Affected</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody><% log = view_audit_log(1) %>
                            <% log.each do |item| %>
                        <tr>
                            <td>
                                <%= item[0]%>
                            </td>
                            <td>
                                
                                <%= item[3]%>
                            </td>
                            <td>
                                
                                <%= item[1]%>
                            </td>
                            <td>
                                
                                <%= Time.at(item[2])%>
                            </td>
                            
                        </tr>
                          <% end %>
                    </tbody>
                </table>
            </div>
            <nav class="d-flex align-items-center mb-3 justify-content-end flex-wrap">
                <p class="mb-md-0 font-sm text-muted mr-3">Showing entries 5 of 25</p>
                <ul class="pagination mb-md-0">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <%= erb :footer %>

    <script src="/js/main.js"></script>
    <script src="/js/common.js"></script>
</body>

</html>
