<!DOCTYPE html>
<html lang="en">

<!--Avoiding Duplicated code -->

    <%= erb :headinclude, :locals => {:title => "Bookmarks - Admin"} %>

<body>
    <!-- Navbar -->
    
    <%= erb :header %>
    
    <!-- modal-section -->

    <!-- dashboard section -->
    <section class="dashboard-section container py-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="active-users-tab" data-toggle="tab" href="#active-users" role="tab" aria-controls="active-users" aria-selected="true">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="suspended-users-tab" data-toggle="tab" href="#suspended-users" role="tab" aria-controls="suspended-users" aria-selected="false">Suspended</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pending-users-tab" data-toggle="tab" href="#pending-users" role="tab" aria-controls="pending-users" aria-selected="false">Pending</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="active-users" role="tabpanel" aria-labelledby="active-users-tab">
                <div class="users-section">
                    <div class="d-flex align-items-md-center mb-3 flex-wrap">
                        <div class="mb-3 mb-md-0">
                            <h4 class="mb-0">Active Users</h4>
                        </div>
                        <div class="input-group mb-3 mb-md-0 mr-md-3 ml-md-auto w-auto">
                            <input type="search" class="form-control" placeholder="Search Users" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
									Search
								</button>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-info">
								ADD USER
							</button>
                        </div>






                      <!----- ACTIVE USERS  --->









                    </div>
                    <div class="table-responsive">
                        <table class="table table-bookmark">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Permission</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <%= total = total_users("*",1)[0][0] %>
                            <% users = display_users( "*", 0,5,1) %>
                            <% users.each do |item| %>
                              <tr>
                                <td>
                                  <a href=""><%= item[0] %></a>
                                </td>
                                <td>
                                  <%= item[1] %> <%= item[2]%>
                                </td>
                                <td>
                                  <%= item[3] %>
                                </td>
                                <td>
                                  <b><%= item[4] %></b>
                                </td>
                                <td width="100">
                                  <% if  item[4] == "guest"%>
                                    <a href="/admin/users/action/<%=item[0] %>/upgrade" data-toggle="tooltip" data-placement="top" title="Make User" class="mr-2">
                                      <i class="fa fa-redo-alt fa-flip-horizontal"></i>
                                    </a>
                                  <%end %>

                                  <% if  item[4] == "user"%>
                                    <a href="/admin/users/action/<%=item[0] %>/downgrade" data-toggle="tooltip" data-placement="top" title="Make guest" class="text-danger">
                                      <i class="fa fa-redo-alt fa-flip-horizontal"></i>
                                    </a>
                                  <%end %>
                                  <a href="/admin/users/action/<%=item[0] %>/suspend" data-toggle="tooltip" data-placement="top" title="Suspend User" class="text-danger">
                                    <i class="fa fa-times"></i>
                                  </a>
                                </td>

                              </tr>
                            <% end %>

                            </tbody>
                        </table>
                    </div>
                    <nav class="d-flex align-items-center mb-3 justify-content-end flex-wrap">
                        <p class="mb-md-0 font-sm text-muted mr-3">Showing <%=users.length %> results of <%= total %></p>
                        <ul class="pagination mb-md-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item ">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="tab-pane fade" id="suspended-users" role="tabpanel" aria-labelledby="suspended-users-tab">
                <div class="users-section">
                    <div class="d-flex align-items-md-center mb-3 flex-wrap">
                        <div class="mb-3 mb-md-0">
                            <h4 class="mb-0">Suspended Users</h4>
                        </div>
                        <div class="input-group mb-3 mb-md-0 ml-md-auto w-auto">
                            <input type="search" class="form-control" placeholder="Search Users" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
									Search
								</button>
                            </div>
                        </div>
                    </div>








                  <!----- Suspended  USERS  --->









                  <div class="table-responsive">
                        <table class="table table-bookmark">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                  <% users = display_users("*", 0,session[:lim],0) %>
                                  <% users.each do |item| %>
                                   <tr>
                                        <td>
                                            <a href=""><%= item[0] %></a>
                                        </td>
                                        <td>
                                            <%= item[1] %> <%= item[2]%>
                                        </td>
                                        <td>
                                          <%= item[3] %>
                                        </td>
                                        <td>
                                          <b><%= item[4] %></b>
                                        </td>
                                        <td width="100">
                                            <a href="/admin/users/action/<%=item[0] %>/unsuspend" data-toggle="tooltip" data-placement="top" title="Make Active" class="mr-2">
                                                <i class="fa fa-redo-alt fa-flip-horizontal"></i>
                                            </a>
                                        </td>

                                   </tr>
                                  <% end %>
                            </tbody>
                        </table>
                    </div>
                    <nav class="d-flex align-items-center mb-3 justify-content-end flex-wrap">
                        <p class="mb-md-0 font-sm text-muted mr-3">Showing <%=users.length %> results of <%= total_users("*",0)[0][0] %></p>
                        <ul class="pagination mb-md-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item ">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="tab-pane fade" id="pending-users" role="tabpanel" aria-labelledby="pending-users-tab">
                <div class="users-section">
                    <div class="d-flex align-items-md-center mb-3 flex-wrap">
                        <div class="mb-3 mb-md-0">
                            <h4 class="mb-0">Pending Approval Users</h4>
                        </div>
                        <div class="input-group mb-3 mb-md-0 ml-md-auto w-auto">
                            <input type="search" class="form-control" placeholder="Search Users" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
									Search
								</button>
                            </div>
                        </div>
                    </div>







                  <!----- Pending USERS  --->









                  <div class="table-responsive">
                      <table class="table table-bookmark">
                        <thead>
                        <tr>
                          <th>User ID</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Role </th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% users = display_users(1,0,session[:lim],1) %>
                        <% utotal = get_total_users(1,1) %>
                        <% cubes = (utotal/session[:lim].to_f).ceil %>
                            <%= cubes %>
                            <%= utotal %>
                        <% users.each do |item| %>
                          <tr>
                            <td>
                              <a href=""><%= item[0] %></a>
                            </td>
                            <td>
                              <%= item[1] %> <%= item[2]%>
                            </td>
                            <td>
                              <%= item[3] %>
                            </td>
                            <td>
                              <b><%= item[4] %></b>
                            </td>
                            <td width="100">
                              <a href="/admin/users/action/<%=item[0] %>/upgrade" data-toggle="tooltip" data-placement="top" title="Make User" class="mr-2">
                                <i class="fa fa-redo-alt fa-flip-horizontal"></i>
                              </a>
                              <a href="/admin/users/action/<%=item[0] %>/suspend" data-toggle="tooltip" data-placement="top" title="Suspend User" class="text-danger">
                                <i class="fa fa-times"></i>
                              </a>
                            </td>

                          </tr>
                        <% end %>
                        </tbody>
                      </table>
                      <% if session[:reply] %>
                        <div class="alert alert-warning" role="alert">
                      <%= session[:reply] %>
                        </div>
                    <% end %>
                    <% session[:reply] = nil %>
                </div>
                    <nav class="d-flex align-items-center mb-3 justify-content-end flex-wrap">
                        <p class="mb-md-0 font-sm text-muted mr-3">Showing <%=users.length %> results of <%= total_users(1,1)[0][0] %></p>
                        <ul class="pagination mb-md-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <% [*1..cubes].each do |item| %>
                            <li class="page-item active <%= if params[:page].to_i == item then 'active' else '' end %>">
                                <a class="page-link" href="/admin/users/<%= item %>/<%= session[:lim] %>"><%= item %>
                                <% if params[:page].to_i %>
                                    <span class="sr-only">(current)</span>
                                <% end %>
                                    </a>
                            </li>
                            <% end %>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <%= erb :footer %>

    <script src="/js/admin.js"></script>
    <script src="/js/common.js"></script>
</body>

</html>