<!DOCTYPE html>
<html lang="en">

<!--Avoiding Duplicated code -->

<%= erb :headinclude, :locals => {:title => "Comment Deleted - Admin"} %>

<body>
<!-- Navbar -->

<%= erb :header %>

<!-- modal-section -->

<!-- dashboard section -->
<section class="dashboard-section container py-5">
  <div class="saved-bookmarks">
    <div class="mb-3">
      <h4>Reported</h4>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bookmark">
      <thead>
      <tr>
        <th>bookmark id </th>
        <th>user_id</th>
        <th>text</th>
        <th>bookmark name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% log = @db.get_comment_reports() %>
      <% i = 0 %>
      <% log.each do |item| %>
        <tr>
          <td>
            <%= h item[0]%>
          </td>
          <td>
            <%= h item[1]%>
          </td>
          <td>
            <%= h item[2]%>
          </td>
          <td>
          <%= h item[3]%>
          </td>
          <td width="100">


            <div class="btn-group">
              <button class="btn btn-sm btn-danger dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-thumbs-down"></span> Action
                <span class="caret"></span></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/admin/audit/comment/reported/remove/<%= h item[4]%>">Remove comment report</a>
                <a class="dropdown-item" href="/deletecomment/<%= h item[5]%>">Delete Comment</a>
              </div>
              </div>

          </td>
        </tr>
      <% i= i+ 1%>
      <% end %>
      </tbody>
    </table>
  </div>
  </div>
</section>

<%= erb :footer %>

<script src="/js/main.js"></script>
<script src="/js/common.js"></script>
</body>

</html>
